<div class="container">
    <div class="column">
        <div class="col-lg-8 my-5 mx-auto">
          <h1 class="display-2 text-center">Erro 404!</h1>
          <p class="text-center lead">A pagina que vc procura nao existe.</p>
        </div>
    </div>
</div>